<div class="row">
    <div class="col-sm-3">
        {{this.name.full}}
    </div>
    <div class="col-sm-3">
        {{this._id}}
    </div>
    <!--
    <div class="col-auto">
        {{#each this.donations}}
        <div class="row">
            <div class="col-sm-6">
                {{this.donations.amount}}
            </div>
            <div class="col-auto">
                {{this.donations.name}}
            </div>
        </div>
        {{/each}}
    </div>
    -->
</div>
