<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Charity Manager</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Marmelad|Sacramento|Rock+Salt|Sofia|Inknut+Antiqua" rel="stylesheet">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="public/css/style.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/"><h5>Charity Manager</h5></a>
            <ul class="navbar-nav mt-2">
                <li class="nav-item active">
                    <a class="nav-link" href="/accounts"><p class="lead">Accounts</p></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/charities"><p class="lead">Charities</p></a>
                </li>
            </ul>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 mt-4">
                {{{body}}}
            </div>
        </div>
    </div>
</body>

</html>
