<!-- account-show.handlebars -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <h3>{{account.name.full}}</h3>
            <h6>Transactions</h6>
            {{> transaction-table account}}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <form action="/transactions" method="post">
                <input type="hidden" name="account" value={{account._id}}>
                {{> transaction-form}}
            </form>
        </div>
    </div>
</div>
