<!-- accounts-new.handlebars -->

<div class="container">
    <div class="row">
        <h1>New Account</h1>
    </div>
    <div class="row">
        <div class="col-12">
            <form action="/accounts" method="post">
                {{> accounts-form}}
            </form>
        </div>
    </div>
</div>
