<!-- account-show.handlebars -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <h3>{{account.name.full}}</h3>
            <h6><a href="/accounts/{{account.slug}}/edit">Edit Account Information</a></h6>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-12">
            <h6>Transactions</h6>
            {{> transaction-table account}}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <form action="/transactions" method="post">
                <input type="hidden" name="account" value={{account._id}}>
                {{> transaction-form}}
            </form>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12">
            <h6><form class="form-group" action="/accounts/{{account._id}}?_method=DELETE" method="POST">
                <button class="btn btn-secondary" type="submit" name="deleteAccount">Delete Account</button>
            </form></h6>
        </div>
    </div>
</div>
