<!-- accounts-edit.handlebars -->

<div class="container">
    <div class="row">
        <h1>Edit Account</h1>
    </div>
    <div class="row">
        <div class="col-12">
            <form action="/accounts/{{account.slug}}?_method=PUT" method="post">
                <input type="hidden" name="mongoId" value="{{account._id}}">
                {{> accounts-form account}}
            </form>
        </div>
    </div>
</div>
