<!-- account-show.handlebars -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="display-4">{{account.name.full}}</h1>
            <h6><a href="/accounts/{{account.slug}}/edit">Edit Account Information</a></h6>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-12">
            <h4>Charities</h4><br>
            {{> charity-table account}}
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-12">
            <h4>Transactions</h4><br>
            <form class="form-group" action="/accounts/{{account.slug}}/transactions/new" method="get">
            <h6><button class="btn btn-primary" type="submit" name="newTransaction">New Transaction</button></h6>
            </form>
            {{> transaction-table account}}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12">
            <h6><form class="form-group" action="/accounts/{{account._id}}?_method=DELETE" method="POST">
                <button class="btn btn-danger" type="submit" name="deleteAccount">Delete Account</button>
            </form></h6>
        </div>
    </div>
</div>
