<!-- charities-donate.handlebars -->

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <form action="/charities/{{charity.ein}}/donate" method="post">
                <legend>New Transaction for</legend>
                <div class="account-selector">
                    <select id="account-dropdown" class="" name="slug">
                        {{#each accounts}}
                        <option value="{{this.slug}}">{{this.name.first}} {{this.name.last}}</option>
                        {{/each}}
                    </select>
                </div>
                {{> transaction-form charity}}
            </form>
        </div>
    </div>
</div>
