<!-- charities.handlebars -->

<div class="container">
    <div class="row">
        <div class="col-auto"><h1>Charities</h1></div>
    </div>
    <br>
    <div class="row">
        <div class="col-auto"><a href="/charities/test"><h4>Test</h4></a></div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-8">
            <form class="form-group" action="/charities/search" method="post">
                <fieldset>
                    <input id="search" type="text" name="search" value="">
                    <button type="submit" class="btn btn-primary" name="button">Search</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>
