<div class="container">
    <div class="row">
        <div class="col-lg-12"><h1 class="display-4">Welcome to Charity Manager</h1></div>
    </div>
    <div class="row">
        <div class="col-lg-10"><p class="text-justify">To get started, create an account under <a href="/accounts">Accounts</a>. You can enter donations for an account on that account's page. Charities may be entered manually, or can be added to accounts after searching for them under <a href="/charities">Charities</a>.</p></div>
    </div>
</div>
