<!-- transactions-edit.handlebars -->
<form class="form-group" action="/accounts/{{account._id}}/transactions/{{transaction._id}}?_method=PUT" method="post">
    {{> transaction-form transaction}}
</form>
